/* Posicionamiento --> static, absolute, relative, fixed.
Modelo de caja (Box model) --> margin, border, padding, content.
Tipografía --> tipos, tamaños de fuente, etc.
Estilos visuales --> box-shadow, border-radius, gradient, etc.
Otros --> misceláneos, reglas CSS y más.*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    :root{
        /*Colores*/
        --bitcoin-orange: #F7931A;
        --soft-orange:#FFE9D5;
        --azul-secundario:#1A9AF7;
        --azul-claro:#E7F5FF;
        --negro-normal:#201E1C;
        --negro-plus:#282623;
        --gris:#BABABA;
        --blanco-fuerte:#FAF8F7;
        --blanco:#FFFFFF;
    }
    html{
        font-size: 62.5%;
        font-family: 'DM Sans', sans-serif;
    }
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-width: 320px;
        height: 334px;
        text-align: center;
        background: linear-gradient(207.8deg, var(--negro-normal) 16.69%, #F7931A 100%);```;
    }
    header figure {
        width: 150px;
        height: 24px;
        margin-top: 60px;
        align-self: center;
    
    }
    header figure img{
        width: 100%;
        height: 100%;
    }
    .header--titulo-contenedor {
        width: 90%;
        min-width: 280px; /*Se achica el width hasta 280 px*/
        max-width: 900px; /* se agranda el width hasta los 900px*/
        height: 280px;
        margin-top: 50px;
        text-align: center;
        align-self: center;
       
    
    }
    .header--titulo-contenedor h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var( --blanco-fuerte);
    }
    .header--titulo-contenedor p{
        margin-top: 25px;
        font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
    }
    .header--titulo-contenedor .header--boton {
        position: absolute;
        left: calc(50% - 118px); /* calcula a la mitad menos 118 px*/
        top: 270px;
        display: block;
        margin-top: 35px;
        padding: 15px;
        width: 233px;
        height: 48px;
        background-color: var(--blanco);
        /*Sombra*/
        box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
        border: none;
        border-radius: 5px;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
        color: var(--negro-normal);
    }
    .header--boton span {
        display: inline-block; /*convertimos en inline-block para porder darle dimensiones a la etiqueta a*/
        width: 13px;
        height: 8px;
        margin-left: 1px;
        background-image: url("/iconos/Vector-3.svg");
    }
    .seccion-primera{
        width: 100%;
        height: 1250px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 30px;


    }
    .seccion-primera figure {
        width: 40vw;
        height: 40vh;
        align-self: center;
        margin-top: 50px;
    }
    .seccion-primera figure img{
        width: 100%;
        height: 100%;
    }
    main{
        width: 100%;
        height: auto;
        background-color: var(--blanco-fuerte);
        min-width: 320px;
    }
  
    .seccion-primera h1{
        font-size: 2.4rem;
        font-weight: bold;
        text-align: center;
        line-height: 2.6rem;
        color: var(--negro-normal);
    }
    .seccion-primera p{
        display: inline-block;
        margin-top: 30px;
        font-size: 1.4rem;
        color: var(--gris);
        line-height: 1.6rem;
    }
     main .main--primera-detabla .primera--titulo{
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.3rem;
        color: var(--bitcoin-orange);
    }

    .main--primera-contenedor-detabla {
        width: 70%;
        min-width: 235px;
        max-width: 500px;
        height: 360px;
        margin: 0 auto;
        font-family: 'Inter', sans-serif;
    }
    .main--primera-contenedor-detabla{
       width: 90%;
       min-width: 230px;
       max-width: 300px;
       height: 250px;
       margin: 0 auto;
       font-family: 'Inter', sans-serif;
    }
    .main--primera-contenedor-detabla table{
        width: 100%;
        height: 100%;

    }
    .main--primera-contenedor-detabla td {
        width: 50%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        color: var(--gris);
        background-color: var(--blanco);
    }
    .main--primera-contenedor-detabla .table__top-left{
        border-radius: 15px 0 0;
    }
    .main--primera-contenedor-detabla .table__top-right{
        border-radius:  0 15px 0 0;
    }

    .main--primera-contenedor-detabla .table__buttom-left{
        border-radius:  0 0 0 15px ;
    }
    .main--primera-contenedor-detabla .table__bottom-right {
        border-radius:  0 0 15px 0;
    }

    .main--primera-contenedor-detabla .table__right span{
        display: inline-block;
        background-image: url('/iconos/trending-down\ 1.svg');
        width: 15px;
        height: 15px;
        background-size: cover;
        margin-left: 10px;
    }
    .main--primera-contenedor-detabla .table--right span{
        display: inline-block;
        background-image: url('/iconos/trending-up\ 1.svg');
        width: 15px;
        height: 15px;
        background-size: cover;
        margin-left: 10px;
    }

    .main--primera-contenedor-detabla .table--date{
        width: 250px;
        height: 30px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px;
        background-color: var(--soft-orange);
        border-radius: 8px;
        align-self: center;
    }

    .main--primera-contenedor-detabla .table--date p{
        margin: 7px;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: var(--negro-plus);
        position: relative;
        bottom: 100%;
        font-weight: 300;
        margin-bottom: 50px;
    }
    .main--primera-contenedor-detabla .flecha-derecha{
        display: inline-block;
        background-image: url('/iconos/Vector-4.svg');
        width: 20px;
        height: 30px;
        background-size: cover;
        margin-left: 10px;
        position: absolute;
        right: 6vh;
        bottom: -250px ;
    }

    .main--segundo-contenedor-detabla{
        width: 90%;
        min-width: 230px;
        max-width: 300px;
        height: 250px;
        margin: 0 auto;
        margin-top: 50px;
     }
     .main--segundo-contenedor-detabla table{
        width: 100%;
        height: 100%;

    }
    .main--segundo-contenedor-detabla td {
        width: 50%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        color: var(--gris);
        background-color: var(--blanco);
    }
    .main--segundo-contenedor-detabla .table--date{
        width: 250px;
        height: 30px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px;
        background-color: var(--azul-claro);
        border-radius: 8px;
        align-self: center;
    }
    .main--segundo-contenedor-detabla .table--date p{
        margin: 9px;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: var(--negro-plus);
        position: relative;
        bottom: 100%;
        font-weight: 300;

    }
    .main--segundo-contenedor-detabla  #segundo--titulo{
        margin-bottom: 20px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.3rem;
        color: var(--azul-secundario);
    }
    .main-productos-detalles {
        position: relative; /*Este seria el relative del position absolute de la imagen*/
        width: 100%;
        min-width: 320px;
        height: auto;
        padding: 20px 10px;
        background-color: var(--negro-plus);
    }
    .productos-detalles--batata-logo{
        position: absolute; /*Se debe colocar un position relative en 
        la seccion padre donde queremos que este el siguiente absolute 
        si no podria saltarse a otro div o seccion o main y partir de ahi*/
        background-image: url('/iconos/Group\ 16.svg');
        width: 40px;
        height: 25px;
        top: -10px;
        right: calc(50% - 40px);
    }
    .productos-detalles--titulo{
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        
    }
    .productos-detalles--titulo h2{
        margin-bottom: 20px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--blanco-fuerte);

    }
    .productos-detalles--titulo p{
        margin-bottom: 20px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: var(--gris);
    }


    .reloj{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        background-image: url("/iconos/clock\ 1.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .ojo{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        background-image: url("/iconos/eye\ 1.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .pesos{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        background-image: url("/iconos/dollar-sign\ 1.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .palomita{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        background-image: url("/iconos/check-circle\ 1.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .productos--card-titulo{
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: var(--blanco-fuerte);
        text-align: start;
    }
    
    .productos--card-cuerpo{
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #808080;
        text-align: start;
    }

    .main-productos-detalles .product-cards--container{
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        height: 150px;
        margin: 15px auto;
        padding: 15px;
        background-color: var(--negro-normal);
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    }
    .fotografia{
        width: 100%;
        min-width: 320px;
        height: 50vh;
        background-image: url("/iconos/bitcoinbaby\ 1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .fotografia h2{
        color: var(--blanco-fuerte);
        text-align: center;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;

    }